<section id="couser-details">
  <div class="container">
    <h1>Tárgy adatok:</h1>
    <div class="details">
      <ul class="list-group">
        <li class="list-group-item">A tárgy id-ja: {{course.id}}</li>
        <li class="list-group-item">A tárgy helyszíne: {{course.location}}</li>
        <li class="list-group-item">A tárgy típusa(LECTURE = EA,PRACTISE = GY): {{course.type}}</li>
        <li class="list-group-item"> A kuruzra járó diákok
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> Hallgatók
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor = 'let student of students'>{{student.name}}</li>
            </ul>
          </div>
        </li>
        <li class="list-group-item">A kurzust oktató tanár: {{course.lecturer}}</li>
      </ul>
    </div>
  </div>
</section>