<section id="my-courses">
  <div class="container">
    <div class="title">
      <h1>Felvett kurzusaim</h1>
    </div>
    <div class="list">
      <div *ngFor = 'let course of courses' class ="course">
        <div>A kurzus id-ja: {{course.id}} </div>
        <div>A kurzus helye: {{course.location}} </div>
        <div class="subject-name">A kurzus tantárgya {{course.subject.name}}</div>
        <div class="btn-holder">
          <button type = "button" class = "btn btn-primary" (click) = "showDetails(course)">Több infó</button>
        </div>
        <div class="btn-holder" *ngIf = "authService.user.role == 'ROLE_STUDENT' ">
          <button type="button" class="btn btn-danger" (click) = 'removeCourse(course)'>Tárgy leadása</button>
        </div>
        <div class="btn-holder" *ngIf = "authService.user.role == 'ROLE_LECTURER' ">
          <button type="button" class="btn btn-danger" (click) = "goToChange(course)">Kurzus módodítása</button>
        </div>
      </div>
    </div>
  </div>
</section>