<section id="new-course">
  <div class="container-fluid">
    <div class="row">
      <div class="register-box">
        <div class="title">Új kurzus létrehozása</div>
        <div class="form-holder">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form">
              <label for="location">Helyszín:</label><br>
              <input type="text" id="location" autocomplete="off" formControlName = "location">
              <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                <div *ngIf="f.location.errors.required">Kérem adja meg a helyszínt</div>
              </div>
            </div>
            <div class="form">
              <label for="time">Időpont</label><br>
              <input type="text" id="time" autocomplete="off" formControlName = "time">
              <div *ngIf="submitted && f.time.errors" class="invalid-feedback">
                <div *ngIf="f.time.errors.required">Kérem adja meg az időpontot</div>
              </div>
            </div>
            <div class="form">
              <label for="type">Milyen típusú:</label><br>
              <select name="type" id="type" formControlName= "type">
                <option value="LECTURE">Előadás</option>
                <option value="PRACTICE" selected>Gyakorlat</option>
              </select>
              <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                <div *ngIf="f.type.errors.required">Kérem válasszon egyet a lehetőségek közül</div>
              </div>
            </div>
            <div class="form">
              <label for="lecturer">Ki az oktató:</label><br>
              <select name="lecturer" id="lecturer" formControlName= "lecturer">
               <option *ngFor = "let lecturer of lecturers" value="{{lecturer.name}}">{{lecturer.name}}</option>
              </select>
              <div *ngIf="submitted && f.lecturer.errors" class="invalid-feedback">
                <div *ngIf="f.lecturer.errors.required">Kérem válasszon egyet az oktatók közül</div>
              </div>
            </div>
            <div class="form">
                <label for="subject">Melyik tárgyhoz tartozik:</label><br>
                <select name="subject" id="subject" formControlName= "subject">
                 <option *ngFor = "let subject of subjects" value="{{subject.id}}">{{subject.name}}</option>
                </select>
                <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                  <div *ngIf="f.subject.errors.required">Kérem válasszon egyet a tárgyak közül</div>
                </div>
              </div>
            <div class="btn-holder">
              <input type="submit" value="Létrehozás">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>