<section id="login">
  <div class="container-fluid">
    <div class="row">
      <div class="login-box">
        <div class="title">Belépés</div>
        <div class="form-holder">
          <form (submit)="loginUser($event)">
            <div class="form">
              <label for="name">Felhasználó név:</label><br>
              <input type="text" id="name" autocomplete="off">
            </div>
            <div class="form">
              <label for="password">Jelszó:</label><br>
              <input type="password" id="password" autocomplete="off">
            </div>
            <div class="btn-holder">
              <input type="submit" value="Bejelentkezés">
            </div>
          </form>
        </div>
        <div class = "btn-holder">
          <input type="button" value ="Regisztráció" routerLink = "/register">
        </div>
      </div>
    </div>
  </div>
</section>
