<section id="login">
  <div class="container-fluid">
    <div class="row">
      <div class="login-box">
        <div class="title">Belépés</div>
        <div class="form-holder">
          <form [formGroup] = "form" (submit)="loginUser($event)">
            <div class="form">
              <label for="name">Felhasználó név:</label><br>
              <input type="text" id="name" autocomplete="off" formControlName = "username">
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback" >
                  <div *ngIf="f.username.errors.required">A felhasználó név kötelező</div>
                </div>
            </div>
            <div class="form">
              <label for="password">Jelszó:</label><br>
              <input type="password" id="password" autocomplete="off" formControlName = "password">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">A jelszó kötelező</div>
                </div>
            </div>
            <div class="btn-holder">
              <input type="submit" value="Bejelentkezés">
            </div>
          </form>
        </div>
        <div class = "btn-holder">
          <input type="button" value ="Regisztráció" routerLink = "/register">
        </div>
        <div *ngIf="message" class = "message">
            {{ message }}
          </div>
      </div>
    </div>
  </div>
</section>
