<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse" *ngIf = "authService.isLoggedIn()">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink >Minineptun</a>
      </div>
      <ul class="nav navbar-nav" *ngIf = "authService.user.role == 'ROLE_STUDENT' ">
        <li><a routerLink = "">Home</a></li>
        <li><a routerLink = "/mycourses">Felvett kurzusok</a></li>
        <li><a routerLink = "/courselist">Kurzus felvétel</a></li>
        <li><a routerLink = "/login" (click) = "authService.logout()">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav" *ngIf = "authService.user.role == 'ROLE_ADMIN' ">
        <li><a routerLink = "">Home</a></li>
        <li><a routerLink = "/courselist">Kurzusok</a></li>
        <li><a routerLink = "/newcourse">Új kurzús létrehozása</a></li>
        <li><a routerLink = "/subjects">Tárgyak</a></li>
        <li><a routerLink = "/newsubject">Tárgy létrehozás</a></li>
        <li><a routerLink = "/login" (click) = "authService.logout()">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav" *ngIf = "authService.user.role == 'ROLE_LECTURER' ">
        <li><a routerLink = "">Home</a></li>
        <li><a routerLink = "/mycourses">Saját kurzusok</a></li>
        <li><a routerLink = "/courselist">Kurzus</a></li>
        <li><a routerLink = "/login" (click) = "authService.logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>