<section id="home-screen">
  <div class="container-fluid">
    <div class="row">
      <div class="home-box">
        <div class="title">Home screen</div>
        <div class="subtitle">Üdvözlünk a mini neptun alkalamázsban <br> innen a továbbiakban ha van már felhasználod
          beléphetsz vagy ha nincs regisztrálhatsz</div>
        <div class="options">
          <div class="col-sm-6 ">
            <div class="wrapper">
                <div class="info">Jelentkezz be itt</div>
                <div class="link" routerLink = "/login">Belépés</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="wrapper">
                <div class="info">Vagy regisztrálj először</div>
                <div class="link" routerLink = "/register">Regisztráció</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
